
a {
  cursor: pointer;
}
a.active {
  text-decoration: underline;
}

/*.thumbnail-img {
  position: relative;
  float: left;
  width:  144px;
  height: 200px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}*/
