
a {
  cursor: pointer;
}
a.active {
  text-decoration: underline;
}

/*.thumbnail-img {
  position: relative;
  float: left;
  width:  144px;
  height: 200px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}*/

.thumbnail-img {
  padding: 0% 20%
}

.nav-link {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* continue reading link in wordpress, not ideal - google crawler can see it? */
.link-more {
  display: none;
}
